<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AIS Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://image.flaticon.com/icons/svg/25/25619.svg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        #tableCar {
            width: 100% !important;
        }
    </style>
</head>

<body>
    <div class="row forSearch">
        <div class="container">
            <br>
            <div class="col">
                <center>
                    <div class="card-body">
                        <div class="input-group md-form form-sm form-1 pl-0 search">
                            <input class="form-control my-0 py-1" type="text" id="searchInput" placeholder="Search a Car"
                                aria-label="Search">
                            <button class="input-group-text cyan lighten-2" id="searchBtn" style="background-color: aqua"
                                id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></button>
                        </div>
                </center>
            </div>
        </div>

    </div>

    <div class="row forTable">
        <div class="container">
            <br>
            <div class="col">
                <center>
                    <div class="card">
                        <div class="card-header">
                            <h4>Car List</h4>
                        </div>
                        <div class="card-body">
                            <div id="First">
                                <button type="button" class="btn btn-info" id="add">Add Car</button>
                            </div>
                            <table class="table table-striped table-responsive-lg" id="tableCar">
                                <thead class="thead-light">
                                    <tr>
                                        <th id="thBrand" scope="col">Car Brand</th>
                                        <th id="thModel" scope="col">Car Model</th>
                                        <th id="thYear" scope="col">Car Year</th>
                                        <th id="thPrice" scope="col">Car Price</th>
                                        <th id="thActions" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </center>
            </div>
        </div>

    </div>
    <div class="row forModal">
        <div class="container">
            <br>
            <div class="col">
                <center>
                    <div class="card">
                        <div class="card-header">
                            <h4>Add Car</h4>
                        </div>
                        <div class="card-body">
                            <div>
                                <div id="userForm">
                                    <div class="input-group md-form form-sm form-1 pl-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text purple lighten-3" id="basic-text1"><i class='fas fa-car'></i></span>
                                        </div>
                                        <input class="form-control my-0 py-1" type="text" placeholder="Enter Brand" id="brand"
                                            name="carBrand">
                                    </div><br><br>
                                    <div class="input-group md-form form-sm form-1 pl-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text purple lighten-3" id="basic-text1"><i class='fas fa-car-alt'></i></span>
                                        </div>
                                        <input class="form-control my-0 py-1" type="text" placeholder="Enter Model" id="model"
                                            name="carModel">
                                    </div><br><br>
                                    <div class="input-group md-form form-sm form-1 pl-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text purple lighten-3" id="basic-text1"><i class='far fa-calendar-alt'></i></span>
                                        </div>
                                        <input class="form-control my-0 py-1" type="text" placeholder="Enter Year" id="year"
                                            name="carYear">
                                    </div><br><br>
                                    <div class="input-group md-form form-sm form-1 pl-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text purple lighten-3" id="basic-text1"><i class='fa fa-money'></i></span>
                                        </div>
                                        <input class="form-control my-0 py-1" type="text" placeholder="Enter Price" id="price"
                                            name="carPrice">
                                    </div><br><br>
                                    <button type="submit" class="btn btn-primary" id="btnAdd">Add Car</button>
                                </div>
                            </div>
                            <!-- <div class="btn btn-primary submitBtn">Add Car</div> -->
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Car</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalUpdate">
                        <form>
                            <div class="form-group">
                                <span>Car</span><input type="text" name="updateBrand" class="form-control" id="updateBrand"
                                    placeholder="Enter Car Brand">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="updateModel" id="updateModel" placeholder="Enter Car Model">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="updateYear" id="updateYear" placeholder="Enter Car Year">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="updatePrice" id="updatePrice" placeholder="Enter Car Price">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnUpdated">Update Car</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(() => {
            function showHide(show, hide, hide1, show1) {
                $("." + hide).hide()
                $("." + hide1).hide()
                $("." + show).show()
                $("." + show1).show()
            }

            $("#add").click(() => {
                showHide('forModal', "forSearch", 'forTable')

            })
            $("#searchInput").keyup(() => { 
                var search = $("#searchInput").val().toLowerCase()
                $("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(search) > -1)
                });
            })

            // $("#searchBtn").click(() => {
            //     var search = $(this).val();
            //     $("#myTable tr").filter(function () {
            //         $(this).toggle($(this).indexOf(search) > -1)
            //     });
            // })

            $("#btnAdd").click(() => {
                showHide('forTable', null, 'forModal', "forSearch")
            });

            showHide('forTable', null, 'forModal')
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="/js/usersRequests.js"></script>
</body>

</html>